body{
    background-color: #FDF9F8;
}

.hero{
    background-color: #98C5AE;
    font-family: 'Della Respira', 'sans-serif';
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: #FBF7EE;
    width: 100%;
}

.hero nav{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    position: relative;
    z-index: 10;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .3s;
}

.nav-menu ul li:last-child a{
    background-color: #CD8195;
    color: #FBF7EE;
    padding: 1rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-menu ul li:last-child a:hover{
    background-color: #FBF7EE;
    color: #CD8195;
    box-shadow: 8px 8px 16px -3px rgba(243, 189, 203, 0.6);
}

li.link-hover{
    position: relative;
}

li.link-hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #CD8195;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.6s;
}

li.link-hover:hover::before{
    scale: 1;
}

li.link-hover:hover a{
    color: #CD8195;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.index {
    height: calc(100vh - 95px);
    display: flex;
    align-items: center;
    padding: 0 4rem;
    background: url("/assets/index.webp") center/cover no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.left-content {
    max-width: 1200px;
}

.left-content h1{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
    font-weight: bold;
    font-size: 3.5rem;
    max-width: 660px;
    line-height: 0.9;
}

.left-content p.subtitle{
    color: #98C5AE;
    font-weight: bold;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.5rem;
    max-width: 500px;
    line-height: 1.3;
    margin-top: 1rem;
}

.left-content p.description{
    color: #98C5AE;
    font-family: 'Montserrat', 'sans-serif';
    text-align: left;
    font-size: 1rem;
    max-width: 580px;
    line-height: 1.3;
}

.left-content .buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.left-content .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    transition: all 0.5s ease;
}

.buttons a.btn-1, .buttons a.btn-2{
    color: #FBF7EE;
    background-color: #98C5AE;
}

.buttons .btn-1:hover, .buttons .btn-2:hover{
    background: #FBF7EE;
    color: #98C5AE;
    transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 8px 8px 16px -3px rgba(152, 197, 174, 0.6);
}

.btn-1 i, .btn-2 i {
    transition: .3s;
}

.btn-1:hover i, .btn-2:hover i {
    transform: scale(1.15);
}

.subhero{
    width: 100%;
    margin-top: 1rem;
    max-width: 660px;
    background-color: #FBF7EE;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 20;
    box-shadow: 0 15px 40px rgba(0,0,0,.08);
}

.benefit{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    transition: .3s;
}

.benefit:hover{
    transform: translateY(-4px);
}

.benefit i{
    font-size: 2rem;
    min-width: 40px;
    color: #CD8195;
    margin-bottom: 6px;
}

.benefit-text h3{
    font-size: .95rem;
    line-height: 1.3;
    font-weight: bold;
    color: #CD8195;
    margin-bottom: .3rem;
}

.benefit-text p{
    color: #98C5AE;
    font-size: .85rem;
    line-height: 1.4;
}

.divider{
    width: 1px;
    height: 70px;
    background: rgba(243, 189, 203, 0.6);
}

h1.text-produtos{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
    font-weight: bold;
    font-size: 3rem;
}

p.subtitle-produtos{
    color: #98C5AE;
    font-weight: bold;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.2rem;
}

.products-list{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    background-color: #FBF7EE;
    border-radius: 1rem;
    max-width: 200px;
    transition: all 0.5s ease;
}

.product:hover{
    box-shadow: 8px 8px 16px -3px rgba(227, 214, 182, 0.6);
    transform: scale(1.05);
}

.product img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.5s ease;
}

.product p{
    text-align: center;
    color: #CD8195;
    font-weight: bold;
    padding: 1rem;
}

.mais-vendidos .lista-produtos{
    background: linear-gradient(135deg, #CD8195, #E6A5B3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 5rem;
    border-radius: 1rem;
}

.lista-produtos h1.text-produtos, .lista-produtos .subtitle-produtos{
    color: #FBF7EE;
}

.produtos-mais-vendidos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    max-width: 1000px;
}

.produto {
    background: #FBF7EE;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    flex: 1 1 280px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.produto:hover {
    transform: translateY(-6px);
    box-shadow: 8px 8px 16px -3px rgba(243, 189, 203, 0.6);
}

.produto img {
    width: 100%;
    padding: 6px;
    border-radius: 1rem;
    aspect-ratio: 16 / 11;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.produto span {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Della Respira', 'sans-serif';
    color: #CD8195;
    padding: 0.8rem 1rem 0.2rem;
}

.produto p {
    font-size: 0.9rem;
    font-family: 'Montserrat', 'sans-serif';
    color: #98C5AE;
    padding: 0 1rem;
}

.valor {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.valor span {
    font-size: 1.3rem;
    font-family: 'Della Respira', 'sans-serif';
    font-weight: bold;
    color: #6c4a3b;
}

.valor a {
    background: #CD8195;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

.valor a i{
    font-size: 1.7rem;
}

.valor a:hover {
    background: #ac586e;
    box-shadow: 8px 8px 16px -3px rgba(205, 129, 149, 0.6);
}

section.about h1{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
}

section.about h2.title{
    color: #CD8195;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Della Respira', 'sans-serif';
}

section.about span.text{
    font-family: 'Montserrat', 'sans-serif';
    color: #98C5AE;
}

section.about-us h1{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
    font-weight: bold;  
    font-size: 3.8rem;
}

section.about-us h2{
    color: #98C5AE;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 1.3rem;
}

.about-us {
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
}

.about-container {
    max-width: 1100px;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.informacoes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informacoes h2 {
    font-size: 2rem;
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
}

.informacoes p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #6c4a3b;
    font-family: 'Montserrat', 'sans-serif';
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-image h2.text-hello{
    font-family: 'Della Respira', 'sans-serif';
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
    color: #CD8195;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}

.cartoes{
    display: flex;
    gap: 4rem;
    padding: 20px 40px;
    max-width: 1800px;
    margin-top: 10px;
}

.cartao{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 12px;
    transition: all 0.8s ease;
}

.cartao:hover{
    background-color: #CD8195;
}

.cartao:hover .number, .cartao:hover .title, .cartao:hover .text{
    color: #FBF7EE;
}

section.my-products h1{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
}

section.my-products h2{
    font-family: 'Montserrat', 'sans-serif';
    color: #98C5AE;
    margin-bottom: 1.3rem;
    font-weight: bold;
}

section.my-products .name {
    font-size: 32px;
    color: #FBF7EE;
    font-family: 'Della Respira', 'sans-serif';
}

section.my-galery h1{
    color: #CD8195;
    font-family: 'Della Respira', 'sans-serif';
}

section.my-galery h2{
    font-family: 'Montserrat', 'sans-serif';
    color: #98C5AE;
    margin-bottom: 1.3rem;
    font-weight: bold;
}

section.encomenda h1{
    color: #FBF7EE;
    font-family: 'Della Respira', 'sans-serif'; 
}

section.encomenda a{
    transition: all 0.8s ease;
}

section.encomenda a:hover{
    background-color: #98C5AE;
    color: #FBF7EE;
}

footer h2{
    color: #FBF7EE;
    font-family: 'Della Respira', 'sans-serif'; 
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .redes-sociais i{
    background-color: #FBF7EE;
    color: #CD8195;
    transition: all 0.8s ease;
}

footer .redes-sociais i:hover{
    background-color: #98C5AE;
    color: #fff;
}

footer.fundo{
    background-color: #FBF7EE;
    color: #CD8195;
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 1rem 0;
    }

    .hero {
        font-size: 1rem;
        padding: 4px;
        text-align: center;
    }

    .hero p{
        max-width: 300px;
        text-align: center;
    }

    .index {
        height: auto;
        flex-direction: column;
        padding: 0;
    }

    .banner-image {
        background: url("/assets/home.jpg") no-repeat;
        background-size: cover;    
        background-position: 80% center;     
        position: relative;
        width: 100%;
        height: 100vh; 
        margin: 0;
        padding: 0;
    }

    .left-content {
        padding: 2rem 1.5rem;
        text-align: center;
        align-items: center;
    }

    .left-content h1 {
        font-size: 2.5rem;  
    }

    .left-content p {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .nav-text span {
        font-size: 1rem;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        flex-direction: row;
    }

    .buttons a {
        width: auto; 
        padding: 0.6rem 1rem; 
        font-size: 0.85rem;
        white-space: nowrap; 
    }

    section.subhero {
        display: none;
    }

    .products-list {
        gap: 1rem;
    }

    .product {
        max-width: 140px;
    }

    .product p {
        font-size: 0.8rem;
    }

    .mais-vendidos {
        padding: 2rem 1rem;
    }

    .mais-vendidos .lista-produtos{
        padding: 2rem;
    }

    .produto {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .produto span {
        font-size: 1.2rem;
    }

    .about-us{
        padding: 1.2rem;
    }

    section.about-us h1{
        font-size: 2.5rem;
    }

    section.about-us h2 {
    font-size: 1.2rem;
    }
    
    section.about{
        padding: 1.5rem;
    }

    section.about h1{
        font-size: 2.5rem;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        max-width: 250px;
    }

    .informacoes p {
        font-size: 0.9rem;
    }

    .informacoes h2 {
        font-size: 1.5rem;
    }

    .cartoes {
        flex-direction: column;
        gap: 1.5rem;
        padding: 20px;
    }

    .cartao {
        padding: 20px;
    }

    section.my-products h1{
        font-size: 2.5rem;
    }

    section.my-products h2{
        font-size: 1.2rem;
    }

    h1.text-produtos {
        font-size: 2rem;
        text-align: center;
    }

    p.subtitle-produtos {
        font-size: 1rem;
        text-align: center;
    }

    section.my-galery{
        padding: 1.5rem;
    }

    section.my-galery h1{
        font-size: 2.5rem;
    }

    section.my-galery h2{
        font-size: 1.2rem;
        text-align: center;
    }
}